<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Sales Order</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Sales Order</a></li>
			<li class="active"><strong>Edit</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.salesOrder.quotation.save()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.salesOrder.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

	<div class="alert alert-warning">Upload Purchase Order from customer</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-3 control-label">No PO</label>
									<div class="col-sm-9"><input type="Text" class="form-control" placeholder="No PO"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-3 control-label">Upload PO</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Upload PO"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Customer</label>
									<div class="col-sm-9"><select class="form-control lov-customer" onchange="javascript:listOfValues.customer.name.change()"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Invoice Address</label>
									<div class="col-sm-9"><select class="form-control lov-customer-address"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Delivery Address</label>
									<div class="col-sm-9"><select class="form-control lov-customer-shipment-address"></select></div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Taxes</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>PPn Jual 10%(Exclusive)</option>
											<option>PPn Jual 10%(Inclusive)</option>
										</select>
									</div>
								</div>
								
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Date</label>
									<div class="col-sm-9"><input type="date" class="form-control" value="2016-11-01"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Valid Through</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="Index"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Pricelist</label>
									<div class="col-sm-9"><select class="form-control lov-pricelist"></select></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Item</button>

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												Order Lines
											</div>
											<div class="modal-body">
												
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Product</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Product"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Thicknes</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Product"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Width</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Width"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Length</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Length"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Unit</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Unit"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Product's Dimension Type</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Product's Dimension Type"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Copy Requested</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Copy Requested"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Product</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Product"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Transformation Routes</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Transformation Routes"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Thickness</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Thickness"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Width</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Width"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Length</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Length"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Unit</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Unit"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Quantity</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Quantity"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label"></label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Quantity"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Unit Price</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Unit Price"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Discount</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Discount"></div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Packaging</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Packaging"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Taxes</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Taxes"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Delivery Lead Time</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Delivery Lead Time"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Procurement Method</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Procurement Method"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Weight</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Weight"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Allotment Partner</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Allotment Partner"></div>
														</div>
													</div>
												</div>
											</div>


											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary">Save changes</button>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

						<br>
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data:  data.addquotation.grid(),
			columns: [
			{ title: "Permintaan" },
			{ title: "Penawaran" },
			{ title: "Specification" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Unit Price (Rp)" },
			{ title: "Discount (%)" },
			{ title: "Subtotal (Rp)" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"targets": 8,
				"data": null,
				"defaultContent": '<button class="btn btn-xs btn-primary">Edit</button>  <button class="btn btn-xs btn-danger">Delete</button>'
			} ]
		});

	});
</script>