<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Inquiry</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Inquiry</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<!-- <a href="javascript:pages.salesOrder.add.load()" class="btn btn-primary">Add New</a> -->
			<a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">

						<div class="row">
							<div class="col-sm-12">

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												Item  Inquiry
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<label class="col-sm-2 control-label">Customer</label>
															<div class="col-sm-10"><select class="form-control lov-customer" placeholder="Customer"></select></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Material</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Material"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Tebal</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Tebal"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Lebar</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Lebar"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Diameter</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Diameter"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Pcs</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Pcs"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Kg</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Kg"></div>
														</div>
													</div>
												</div>

											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-primary">Save changes</button>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

						<br>
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.inquiry.grid(),
			columns: [
			{ title: "ID" },
			{ title: "Customer" },
			{ title: "Sales Executive" },
			{ title: "Material" },
			{ title: "Tebal" },
			{ title: "Lebar" },
			{ title: "Diameter" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Status" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default approve" data-id="">Approve</button>' 
				+ ' <button class="btn btn-xs btn-primary edit"><i class="fa fa-edit"></i></button>' 
				+ ' <button class="btn btn-xs btn-danger delete"><i class="fa fa-trash"></i></button>'
			} ]
		});

		util.table.action(table);

		// $('#print').click(function(e) {
		// 	util.toast.success('Quotation has been sent!');
		// 	// $('#content').print();

		// 	var mywindow = window.open('', 'my div', 'height=400,width=600');
		// 	mywindow.document.write('<html><head><title>Quotation</title>');
		// 	/*optional stylesheet*/ 
		// 	mywindow.document.write('<link href="css/bootstrap.min.css" rel="stylesheet">');
		// 	mywindow.document.write('</head><body >');
		// 	mywindow.document.write($('#content').html());
		// 	mywindow.document.write('</body></html>');

	 //        mywindow.document.close(); // necessary for IE >= 10
	 //        mywindow.focus(); // necessary for IE >= 10

	 //        mywindow.print();
	 //        mywindow.close();
	 //    });
	});
</script>
