<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Account Receiveable</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Account Receiveable</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.account.receivable.add.load()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.account.receivable.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Perusahaan</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Perusahaan"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Nama Bank</label>
									<div class="col-sm-9"><input type="text" class="form-control"></input placeholder="Nama Bank" /></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">No Rekening</label>
									<div class="col-sm-9"><input type="text" class="form-control"></input placeholder="No Rekening" /></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Bukti Pembayaran</label>
									<div class="col-sm-9"><input type="file" placeholder="Bukti Pembayaran"></input></div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Jumlah Pembayaran</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Jumlah Pembayaran"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Sisa Piutang</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Sisa Piutang"></input></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
