<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Account Receiveable</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Account Receiveable</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.account.receivable.add.load()" class="btn btn-primary">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated fadeIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				Payment
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">Bank Pengirim</label>
							<div class="col-sm-8"><select class="form-control lov-bank"></select></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Rekening</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="No Rekening">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Atas Nama</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Atas Nama"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Refference</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="No Refference"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Payment Date</label>
							<div class="col-sm-8"><input type="date" class="form-control" placeholder="Payment Date"></div>
						</div>											
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">Bank Penerima</label>
							<div class="col-sm-8">
								<select class="form-control lov-bank"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Rekening</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="No Rekening"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Atas Nama</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Atas Nama"></div>
						</div>
						
						<!-- <div class="form-group">
							<label class="col-sm-3 control-label">Status</label>
							<div class="col-sm-9"><select class="form-control lov-status" placeholder="Status"></select></div>
						</div> -->
					</div>
				</div>
				
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Payment</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-2 control-label">Bank Pengirim</label>
							<div class="col-sm-5"><input type="text" class="form-control" placeholder="Bank Pengirim"></input></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">No Rekening</label>
							<div class="col-sm-5"><input type="text" class="form-control" placeholder="No Rekening"></input></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Atas Nama</label>
							<div class="col-sm-5"><input type="text" class="form-control" placeholder="Atas Nama"></input></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">No Refference</label>
							<div class="col-sm-5"><input type="text" class="form-control" placeholder="No Refference"></input></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Payment Date</label>
							<div class="col-sm-5"><input type="date" class="form-control" placeholder="Payment Date"></input></div>
						</div>

					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-2 control-label">Bank Penerima</label>
							<div class="col-sm-5">
							 	<select class="form-control">
							 		<option>BCA</option>
							 		<option>Permata</option>
							 		<option>Mandiri</option>
							 		<option>Mizuho</option>
							 	</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">No Rekening</label>
							<div class="col-sm-5"><input type="text" class="form-control" placeholder="No Rekening"></input></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Atas Nama</label>
							<div class="col-sm-5"><input type="text" class="form-control" placeholder="Atas Nama"></input></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"class="btn btn-primary" >Save</button>
			</div>
		</div>
	</div>
</div> -->

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.receivable.grid(),
			columns: [
			{ title: "No" },
			{ title: "No Inoice" },
			{ title: "Perusahaan" },
			{ title: "Amount " },
			{ title: "Due Date" },
			{ title: "Status " },
			{ title: "Payment date" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ' <button class="btn btn-xs btn-primary">Detail</button>' 
				// + ' <button class="btn btn-xs btn-default approve" data-id="">Approve</button>'
				+ ' <button class="btn btn-xs btn-default approve" data-id="" data-toggle="modal" data-target="#detail">Reveived Payment</button>'
			} ]
		});
		util.table.action(table);
	});
</script>
