<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Warehouse</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Warehouse</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.warehouse.add.load()" class="btn btn-primary">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover " id="editable" ></table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.warehouse.grid(),
			columns: [
			{ title: "No" },
			{ title: "Name" },
			{ title: "Type" },
			{ title: "Quantity" },
			{ title: "Status" },
			{ title: "Location" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default approve" data-id="">Approve</button>' 
				+ ' <button class="btn btn-xs btn-primary edit"><i class="fa fa-edit"></i></button>' 
				+ ' <button class="btn btn-xs btn-danger delete"><i class="fa fa-trash"></i></button>'
			} ]
		});

		util.table.action(table);

	});
</script>