<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Quotation</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Sales Order</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a id="save" href="javascript:pages.quotation.quotation.save()" class="btn btn-primary">Save & Send</a> 
			<!-- <a id="print" href="javascript:pages.quotation.quotation.save()" class="btn btn-info">Print & Send</a>  -->
			or <a href="javascript:pages.quotation.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Customer</label>
									<div class="col-sm-9"><select class="form-control lov-customer" onchange="javascript:listOfValues.customer.name.change()"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Invoice Address</label>
									<div class="col-sm-9"><select class="form-control lov-customer-address"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Delivery Address</label>
									<div class="col-sm-9"><select class="form-control lov-customer-shipment-address"></select></div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-3 control-label">Taxes</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>PPn Jual 10%(Exclusive)</option>
											<option>PPn Jual 10%(Inclusive)</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Date</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="Nomor"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Valid Through</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="Index"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Pricelist</label>
									<div class="col-sm-9"><select class="form-control lov-pricelist"></select></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Item</button>

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												Order Lines
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-sm-12">
														<div class="pull-right">
															<label class="checkbox-inline i-checkx "> 
																<input id="machining" type="checkbox" name="type" value="machining"> Machining 
															</label>
															<label class="checkbox-inline i-checkx "> 
																<input id="heat" type="checkbox" name="type" value="heat"> Heat Treatment 
															</label>
														</div>
													</div>
												</div>
												<hr/>
												<div class="row">
													<h3>Request / Permintaan</h3>
												</div>
												<div class="row">

													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Product</label>
															<div class="col-sm-8">
																<select class="form-control">
																	<option>DC11-F1</option>
																	<option>DC53-R1</option>
																	<option>DHA1-F1</option>
																	<option>GOA-F1</option>
																	<option>DHCP-R1</option>
																	<option>DC53-F1</option>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Thicknes</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Product"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Diameter</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Diameter"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Width</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Width"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Length</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Length"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Requested Unit</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Unit"></div>
														</div>
													</div>
													<div class="col-sm-6">
														<!-- <div class="form-group">
															<label class="col-sm-4 control-label">Packaging</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Packaging"></div>
														</div> -->

														<div class="form-group">
															<label class="col-sm-4 control-label">Delivery Lead Time</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Delivery Lead Time"></div>
														</div>
														<!-- <div class="form-group">
															<label class="col-sm-4 control-label">Procurement Method</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Procurement Method"></div>
														</div> -->
														<div class="form-group">
															<label class="col-sm-4 control-label">Weight</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Weight"></div>
														</div>
														<!-- <div class="form-group">
															<label class="col-sm-4 control-label">Allotment Partner</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Allotment Partner"></div>
														</div> -->
													</div>
												</div>
												<hr/>
												<div class="row">
													<h3>Offer / Penawaran</h3>
												</div>
												<div class="row">

													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Quotation Product</label>
															<div class="col-sm-8">
																<div class="input-group">
																	<select class="form-control">
																		<option>DC11-F1</option>
																		<option>DC53-R1</option>
																		<option>DHA1-F1</option>
																		<option>GOA-F1</option>
																		<option>DHCP-R1</option>
																		<option>DC53-F1</option>
																	</select>
																	<span class="input-group-btn">
																		<button id="searchStock" type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkStockModal">Search Stock</button>
																	</span>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Quotation Thicknes</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Product"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label"> Diameter</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder=" Diameter"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Quotation Width</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Width"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Quotation Length</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Length"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Quotation Unit</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Requested Unit"></div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Quantity</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Quantity"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Unit Prices</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Unit Prices"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Discount</label>
															<div class="col-sm-7"><input type="text" class="form-control" placeholder="Discount"></div>
															<div class="col-sm-1">
																<label>%</label>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Total Price</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Total Price"></div>
														</div>
														<!-- <div class="form-group">
															<label class="col-sm-4 control-label">Allotment Partner</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Allotment Partner"></div>
														</div> -->
													</div>
												</div>
											</div>
											<div id="content-sub" class="row"></div>

											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-primary">Save changes</button>
											</div>
										</div>
									</div>
								</div>



								<div class="modal inmodal" id="checkStockModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												Check Stock
											</div>
											<div class="modal-body">
												<table class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<td>Material</td>
															<td>Thickness</td>
															<td>Diameter</td>
															<td>Width</td>
															<td>Length</td>
															<td>Action</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>DC11</td>
															<td>13</td>
															<td>0</td>
															<td>200</td>
															<td>300</td>
															<td><button class="btn btn-primary">Select</button></td>
														</tr>
														<tr>
															<td>DC53</td>
															<td>15</td>
															<td>2</td>
															<td>150</td>
															<td>300</td>
															<td><button class="btn btn-primary">Select</button></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

						<br>
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data:  data.addquotation.grid(),
			columns: [
			{ title: "Permintaan" },
			{ title: "Penawaran" },
			{ title: "Specification" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Unit Price (Rp)" },
			{ title: "Discount (%)" },
			{ title: "Subtotal (Rp)" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"targets": 8,
				"data": null,
				"defaultContent": '<button class="btn btn-xs btn-primary">Edit</button>  <button class="btn btn-xs btn-danger">Delete</button>'
			} ]
		});

		$('#print').click(function(e) {
			util.toast.success('Quotation has been sent!');
			// $('#content').print();

			var mywindow = window.open('', 'my div', 'height=400,width=600');
			mywindow.document.write('<html><head><title>Quotation</title>');
			/*optional stylesheet*/ 
			mywindow.document.write('<link href="css/bootstrap.min.css" rel="stylesheet">');
			mywindow.document.write('</head><body >');
			mywindow.document.write($('#content').html());
			mywindow.document.write('</body></html>');

	        mywindow.document.close(); // necessary for IE >= 10
	        mywindow.focus(); // necessary for IE >= 10

	        mywindow.print();
	        mywindow.close();
	    });

		$('input[name="type"]').change(function(e) {

			var isMachining = $('#machining').is(':checked');
			var isHeat = $('#heat').is(':checked');

			console.log( isMachining, isHeat);

			if(isMachining === true) {
				pages.quotation.machining.load();
				// alert("ada");
			} else {
				pages.quotation.machining.unload();
			}

			if(isHeat === true) {
				pages.quotation.heat.load();
			} else {
				pages.quotation.heat.unload();
			}
		});

	});
</script>
