<div class="col-lg-4">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Heat Treatment</h5>
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<label class="col-sm-3 control-label">Kekerasan</label>
						<div class="col-sm-8"><input type="text" class="form-control" placeholder="Kekerasan"></div>
						<div class="col-sm-1">
							<label>HRC</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Unit Price</label>
						<div class="col-sm-9"><input type="text" class="form-control" placeholder="Unit Price"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Total Price</label>
						<div class="col-sm-9"><input type="text" class="form-control" placeholder="Total Price"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>