<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Quotation</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Quotation</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.quotation.add.load()" class="btn btn-primary">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover " id="editable" ></table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.quotation.grid(),
			columns: [
			{ title: "ID" },
			{ title: "No SO" },
			{ title: "Customer" },
			{ title: "Status" },
			{ title: "Due Date" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-3',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default salesorder" data-id="">Create SO</button>' 
				+ ' <button class="btn btn-xs btn-primary edit"><i class="fa fa-edit"></i></button>' 
				+ ' <button class="btn btn-xs btn-danger delete"><i class="fa fa-trash"></i></button>'
			} ]
		});

		util.table.action(table);

		$('#editable tbody').on( 'click', '.salesorder', function () {
			util.toast.info('Sales Order has been created');
			util.toast.info('Upload Purchase Order from Customer');
			pages.salesOrder.edit.load();
		} );
	});
</script>