<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Delivery Order</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Delivery Order</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.deliveryOrder.save()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.deliveryOrder.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">No SO</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>SO/2016/22390</option>
											<option>SO/2016/22321</option>
											<option>SO/2016/22875</option>
											<option>SO/2016/22667</option>
											<option>SO/2016/223854</option>
											<option>SO/2016/22540</option>
											<option>SO/2016/23290</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Customer</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Customer"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Delivery Address</label>
									<div class="col-sm-9">
										<textarea class="form-control"placeholder="Delivery Address"></textarea>
									</div>
								</div>
								
								<!-- <div class="form-group">
									<label class="col-sm-3 control-label">Stock Jurnal</label>
									<div class="col-sm-9"><select class="form-control lov-contract"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Additional Note</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Additional Note"></div>
								</div> -->
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Creation Date</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="Nomor"></div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-3 control-label">Vehicle Reg. No.</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Vehicle Reg. No."></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Driver</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Driver"></div>
								</div>
								<!-- <div class="form-group">
									<label class="col-sm-3 control-label">Urgent</label>
									<div class="i-checks"><label> <input type="checkbox" value=""> <i></i> </label></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Date Ready</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="Nomor"></div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Item</button>

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												Add Item Delivery Order
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-3 control-label">No WO</label>
															<div class="col-sm-9">
																<select class="form-control">
																	<option>WO/2016/30316</option>
																	<option>WO/2016/30317</option>
																	<option>WO/2016/30318</option>
																</select>
																<p style="color:green;">WO all ready finished</p>

															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Product</label>
															<div class="col-sm-9">
																<input type="text" class="form-control" placeholder="Product">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Thickness</label>
															<div class="col-sm-9"><input type="text" class="form-control" placeholder="Thickness"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Width</label>
															<div class="col-sm-9"><input type="text" class="form-control" placeholder="width"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Diameter</label>
															<div class="col-sm-9"><input type="text" class="form-control" placeholder="Diameter"></div>
														</div>											
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-3 control-label">Length</label>
															<div class="col-sm-9"><input type="text" class="form-control" placeholder="Length"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Pcs</label>
															<div class="col-sm-9"><input type="text" class="form-control" placeholder="Pcs"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Kg</label>
															<div class="col-sm-9"><input type="text" class="form-control" placeholder="Kg"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-3 control-label">Serial Number</label>
															<div class="col-sm-9">
																<input type="text" class="form-control" placeholder="Serial Number">
															</div>
														</div>
														<!-- <div class="form-group">
															<label class="col-sm-3 control-label">Status</label>
															<div class="col-sm-9"><select class="form-control lov-status" placeholder="Status"></select></div>
														</div> -->
													</div>
												</div>
												
											</div>


											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-primary">Save changes</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<br>
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover " id="editable" ></table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data: data.adddeliveryorder.grid(),
			columns: [
			{ title: "No WO" },
			{ title: "Product" },
			{ title: "Thickness" },
			{ title: "Width" },
			{ title: "Diameter" },
			{ title: "Length" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Serial Number" },
			{ title: "Status" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-danger">Delete</button>'
			} ]
		});
	});
</script>