<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Good Receive</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Good Receive</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.goodreceive.add.load()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.goodreceive.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Invoice</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Invoice"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Supplier</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>Daido Kogyo Co. Ltd.</option>
											<option>Daido Die & Mold Steel Solutions, Co. Ltd.</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">No Good Receive</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="No Good Receive"></input></div>
								</div>
							</div>
							<div class="col-lg-7">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Item</button>

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												add Item
											</div>
											<div class="modal-body">
												
												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<label class="col-sm-4 control-label">Material</label>
															<div class="col-sm-8">
																<select class="form-control">
																	<option>DC11-F</option>
																	<option>DC53-F</option>
																	<option>DHA1-F</option>
																	<option>GOA-F</option>
																	<option>DC11-R2</option>
																	<option>DC53-R1</option>
																	<option>DHA1-R2</option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-4 control-label">Purchase Order</label>
															<div class="col-sm-8">
																<select class="form-control">
																	<option>POM20166499</option>
																	<option>POM20166423</option>
																	<option>POM20166239</option>
																</select>
															</div>
														</div>

										
														<div class="form-group">
															<label class="col-sm-4 control-label">Thickness</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Thickness"></div>
														</div>

														<div class="form-group">
															<label class="col-sm-4 control-label">Width</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Width"></div>
														</div>

														<div class="form-group">
															<label class="col-sm-4 control-label">Diameter</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Diameter"></div>
														</div>

														<div class="form-group">
															<label class="col-sm-4 control-label">Length</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Length"></div>
														</div>

														<div class="form-group">
															<label class="col-sm-4 control-label">Pcs </label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Pcs"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Kg </label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Kg"></div>
														</div>
													</div>
												</div>
											</div>


											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary">Save</button>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

						<br>
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data: data.addgoodreceive.grid(),
			columns: [
			{ title: "No" },
			{ title: "Material" },
			{ title: "Purchase Order" },
			{ title: "Thickness" },
			{ title: "Width" },
			{ title: "Diameter" },
			{ title: "Length" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Action" },
			],
			"columnDefs": [ {
				"targets": 9,
				"data": null,
				"defaultContent": ' <button class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>' 
				+ ' <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>' 
			} ]
		});
	});
</script>