<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Good Receive</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Good Receive</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.goodreceive.add.load()" class="btn btn-primary">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.goodreceive.grid(),
			columns: [
			{ title: "No Invoice" },
			{ title: "Supplier" },
			{ title: "Packing List" },
			{ title: "Bill Of Lading" },
			{ title: "Status"},
			{ title: "No Good Reeive"},
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": 6,
				"data": null,
				"defaultContent": ' <button class="btn btn-xs btn-default updatestatusreceive" data-id="">Reeive</button>'
			} ]
		});

		util.table.action(table);
	});
</script>
