<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Customer Card</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Customer Card</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.customerCard.add.load()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.customerCard.manage.load()">Discard</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		
	});
	function addFieldSaldo(){
		var counter = $("#counter").val();
      	counter++;
      	var field = '<div class="form-group"><label for="collect" class="col-sm-2 control-label" >Name Of Product</label><div class="col-sm-2"><input type="text" class="form-control" name="nama_product" id="nama_product" placeholder="Name Product" /></div><div class="col-md-2"><select class="form-control input-sm" name="product_type" id="collectarea"><option>Flat</option><option>Round</option></select></div><div class="col-md-2"><select class="form-control input-sm" name="jumlah" id="collectarea"><option> F <= 15 </option><option> F > 15</option><option> 10 < R <= 25</option><option> 25 < R <= 160</option><option> R > 160</option></select></div><div class="col-sm-2"><input type="text" class="form-control" name="discount" id="discount" placeholder="Discount" /><input type="hidden" id="counter" value="0"></input></div><div class="col-sm-2"><label>%</label></div></div>';
      // field = field.replace("Saldo[&#039;+counter+&#039;]", "Saldo["+counter+"]");
      $(field).appendTo("#fieldSaldo");
      $("#counter").val(counter);
	}
</script>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-1 control-label">Nomor</label>
							<div class="col-sm-2"><input type="text" class="form-control" placeholder="Nomor"></div>
							<label class="col-sm-1 control-label">Area</label>
							<div class="col-sm-2"><select class="form-control lov-areas"></select></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">Nama</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Nama"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Address</label>
							<div class="col-sm-10"><textarea type="text" class="form-control" placeholder="Address"></textarea></div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label">Usage</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Usage"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">End User</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="End User"></div>
						</div> -->
						<div class="form-group">
							<label class="col-sm-2 control-label">Product</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Product"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Phone</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Phone"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Fax</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Fax"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Email"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">PIC</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="PIC"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Shipment</label>
							<div class="col-sm-10">
								<div class="i-checks">
									<label> <input type="radio" value="option1" name="a"> <i></i> Packet </label>
									&nbsp;
									<label> <input type="radio" value="option1" name="a"> <i></i> Truck </label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10"><select class="form-control lov-areas"></select></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10"><textarea class="form-control" placeholder="Address"></textarea></div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label">P/O</label>
							<div class="col-sm-10"><select class="form-control lov-yesno"></select></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Quote</label>
							<div class="col-sm-10">
								<select class="form-control lov-quote"></select>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">Bank</label>
							<div class="col-sm-3"><select class="form-control lov-bank"></select></div>
							<div class="col-sm-3"><input type="text" class="form-control" placeholder="No. Rekening"></div>
							<div class="col-sm-4"><input type="text" class="form-control" placeholder="Nama"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">NPWP</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="NPWP"></div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label">Tax Type</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Tax Type"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Tax Date</label>
							<div class="col-sm-10"><input type="date" class="form-control"></div>
						</div> -->
						<div class="form-group">
							<label class="col-sm-2 control-label">T.O.P</label>
							<div class="col-sm-2"><input type="text" class="form-control"></div>
							<div class="col-sm-1">Days</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Director</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Director"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Purchasing</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Purchasing"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Fin / Tax</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Fin / Tax"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Production</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Production"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Warehouse</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Warehouse"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Accounting</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Accounting"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Engineer</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="Engineer"></div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label">Valid From</label>
							<div class="col-sm-4"><input type="date" class="form-control"></div>
							<label class="col-sm-2 control-label">To</label>
							<div class="col-sm-4"><input type="date" class="form-control"></div>
						</div> -->
						<div class="form-group">
							<label class="col-sm-2 control-label">Inv Day</label>
							<div class="col-sm-4">
								<select class="form-control">
									<option>Senin</option>
									<option>Selasa</option>
									<option>Rabu</option>
									<option>Kamis</option>
									<option>Jum'at</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Collect Area</label>
							<div class="col-sm-4"><select class="form-control lov-areas"></select></div>
							<!-- <label class="col-sm-2 control-label">Collect Day</label>
							<div class="col-sm-4"><input type="date" class="form-control"></div> -->
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label">Others Condition</label>
							<div class="col-sm-8"><textarea type="text"rows="5" cols="10" class="form-control" placeholder="Other Condition"></textarea></div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="form-group">
							<div class="col-sm-12">
								<button class="btn btn-primary" type="button" onClick="addFieldSaldo()">Add Item</buttom>
							</div>
						</div>
						<div class="form-group">
							<label for="collect" class="col-sm-2 control-label" >Name Of Product</label>
						    <div class="col-sm-2">
						    	<input type="text" class="form-control" name="nama_product" id="nama_product" placeholder="Name Product" />
						    </div>
						    <div class="col-md-2">
						    	<select class="form-control input-sm" name="product_type" id="collectarea">
									<option>Flat</option>
									<option>Round</option>
								</select>
						    </div>
						    <div class="col-md-2">
						    	<select class="form-control input-sm" name="jumlah" id="collectarea">
									<option> F <= 15 </option>
									<option> F > 15</option>
									<option> 10 < R <= 25</option>
									<option> 25 < R <= 160</option>
									<option> R > 160</option>
								</select>
						    </div>
						    <div class="col-sm-2">
						    	<input type="text" class="form-control" name="discount" id="discount" placeholder="Discount" />
						    	<input type="hidden" id="counter" value="0"></input>
						    </div>
						    <div class="col-sm-2">
						    	<label>%</label>
						    </div>
						</div>
						<div id="fieldSaldo"></div>
					</div>
				</div>
			</div>
		</div>			
	</form>
</div>