<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Customer Card</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Customer Card</a></li>
			<li class="active"><strong>Approval</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<!-- <div class="title-action">
			<a href="javascript:pages.customerCard.add.load()" class="btn btn-primary">Add New</a>
		</div> -->
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<!-- <div class="table-responsive"> -->
						<table class="table table-striped table-bordered table-hover" id="editable" ></table>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Information Customer</h4>
	      </div>
	      <div class="modal-body">
	        	<div class="container-fluid">
	        		<div class="row">
	        			<div class="col-md-12">
	        				<div class="table-responsive">
							  <table class="table">
							    <tr>
							    	<td><label>Nomor</label></td>
							    	<td>1</td>
							    	<td><label>Area</label></td>
							    	<td>Jakarta</td>
							    </tr>
							  </table>
							</div>
	        			</div>
	        		</div>
	        		
	        		<div class="row">
	        			<div class="col-md-2">
	        				<label>Nama</label>
	        			</div>
	        			<div class="col-md-10">
	        				: PT Astra Otoparts Tbk.
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-2">
	        				<label>Address</label>
	        			</div>
	        			<div class="col-md-10">
	        				: Jl. pegangsaan dua, kelapa gading
	        			</div>
	        		</div>

	        		<div class="row">
	        			<div class="col-md-6">
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Product</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Gear
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Phone</label>
			        			</div>
			        			<div class="col-md-7">
			        				: 0411109
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Fax</label>
			        			</div>
			        			<div class="col-md-7">
			        				: 04113344
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>E-mail</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Darto@gmail.com
			        			</div>
			        		</div> 
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>PIC</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Fandy Sukma
			        			</div>
			        		</div>  
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Shipment</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Jl. pegangsaan dua, kelapa gading
			        			</div>
			        		</div> 				
	        			</div>

	        			<div class="col-md-6">
	        				<div class="row">
			        			<div class="col-md-4">
			        				<label>Bank</label>
			        			</div>
			        			<div class="col-md-7">
			        				: BCA / 122030332 / PT.AOP
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>NPWP</label>
			        			</div>
			        			<div class="col-md-7">
			        				: 92283744222102
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>T.O.P</label>
			        			</div>
			        			<div class="col-md-7">
			        				: 30 Days
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Director</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Gilang Dirga, SE
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Prchasing</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Sinta Dewi, S.Kom
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Fin / Tax</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Danu Huanggai
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Production</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Fuji Ahmad, SE
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Warehouse</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Sarkiem yulia, ME
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Accounting</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Jono Saputro, S.Pd
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Engineer</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Dani Kirdun, ST
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Inv Day</label>
			        			</div>
			        			<div class="col-md-7">
			        				: Senin
			        			</div>
			        		</div>
			        		<div class="row">
			        			<div class="col-md-4">
			        				<label>Collect Area</label>
			        			</div>
			        			<div class="col-md-7">
			        				: DKI Jakarta
			        			</div>
			        		</div>
	        			</div>
	        		</div>
	        		<div class="row">
	        			<div class="table-responsive">
	        				<table class="table">
	        					<tr>
	        						<td>Nama Product</td>
	        						<td>Type</td>
	        						<td>Jumlah</td>
	        						<td>Discount</td>
	        					</tr>
	        					<tr>
	        						<td>DC11</td>
	        						<td>Flat</td>
	        						<td> F > 15</td>
	        						<td>15%</td>
	        					</tr>
	        					<tr>
	        						<td>DC53</td>
	        						<td>Round</td>
	        						<td>R > 160</td>
	        						<td>20%</td>
	        					</tr>
	        				</table>
	        			</div>
	        		</div>
	        	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.customerCard.grid(),
			columns: [
			{ title: "No" },
			{ title: "Name" },
			{ title: "Address" },
			{ title: "Product" },
			{ title: "Area" },
			{ title: "Detail" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default approve" data-id="">Approve</button>' 
				+ ' <button class="btn btn-xs btn-default " data-id="">Not Approve</button>' 
				// + ' <button class="btn btn-xs btn-primary edit"><i class="fa fa-edit"></i></button>' 
				// + ' <button class="btn btn-xs btn-danger delete"><i class="fa fa-trash"></i></button>'
			} ]
		});

		util.table.action(table);
	});
</script>