<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Purchase Order</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Purchase Order</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<!-- <div class="title-action">
			<a href="javascript:pages.proposeorder.add.load()" class="btn btn-primary">Add New</a>
			<a href="javascript:exportExcel();" class="btn btn-warning"><i class="fa fa-download"></i> Export Suggestion Order</a>
		</div> -->
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function exportExcel() {
		util.XLSXInterface.writeToXLSX('', "Suggestion Order ");
	}
	$(function() {

		var table = $('#editable').DataTable({
			data: data.proposeorder.grid(),
			columns: [
			{ title: "No" },
			{ title: "Supplier" },
			{ title: "Tanggal" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Status" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default createpo" data-id="">Create PO</button>' 
			} ]
		});
		util.table.action(table);

		$('#editable tbody').on( 'click', '.createpo', function () {
			pages.purchaseOrder.add.load();
		} );
	});
</script>
