<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Upload Document</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Purchase Order</a></li>
			<li class="active"><strong>Upload Document</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a id="save" href="javascript:pages.quotation.quotation.save()" class="btn btn-primary">Save</a> 
			<a id="print" href="javascript:pages.quotation.quotation.save()" class="btn btn-info">Print & Send</a> 
			or <a href="javascript:pages.purchaseOrder.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Supplier</label>
									<div class="col-sm-9"><select class="form-control lov-supplier"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Status</label>
									<div class="col-sm-9"><select class="form-control lov-status"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Date</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="" /></div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Invoice</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Nomor"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Packing List</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Nomor"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Bill of Loading</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Nomor"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Item</button>

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												Order Lines
											</div>
											<div class="modal-body">
												
												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<label class="col-sm-2 control-label">Description</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Description"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Quantity</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Quantity"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Unit Price</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Unit Price"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 control-label">Amount</label>
															<div class="col-sm-10"><input type="text" class="form-control" placeholder="Amount"></div>
														</div>
													</div>
												</div>

											</div>


											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-primary">Save changes</button>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

						<br>
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data: [],
			columns: [
			{ title: "No" },
			{ title: "Description" },
			{ title: "Quantity" },
			{ title: "Unit Price" },
			{ title: "Amount" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default">Approve</button> '
				+ ' <button class="btn btn-xs btn-primary">Edit</button> '
				+ ' <button class="btn btn-xs btn-danger">Delete</button>'
			} ]
		});

		$('#print').click(function(e) {
			util.toast.success('Quotation has been sent!');
			// $('#content').print();

			var mywindow = window.open('', 'my div', 'height=400,width=600');
			mywindow.document.write('<html><head><title>Quotation</title>');
			/*optional stylesheet*/ 
			mywindow.document.write('<link href="css/bootstrap.min.css" rel="stylesheet">');
			mywindow.document.write('</head><body >');
			mywindow.document.write($('#content').html());
			mywindow.document.write('</body></html>');

	        mywindow.document.close(); // necessary for IE >= 10
	        mywindow.focus(); // necessary for IE >= 10

	        mywindow.print();
	        mywindow.close();
	    });
	});
</script>