<style>.wizard > .content > .body { position: relative; }</style>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Work Order</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Work Order</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.workOrder.save()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.workOrder.manage.load()">Discard</a>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="row">

						<div class="col-lg-6">
							<div class="form-group">
								<label>Sales Order</label>
								<div class=""><select class="form-control lov-sales-order"></select></div>
							</div>

							<div class="form-group">
								<label>Keterangan</label>
								<div class=""><textarea class="form-control" placeholder="Keterangan"></textarea></div>
							</div>
						</div>
						<div class="col-lg-6">
						</div>
					</div>
					<!-- <form id="form" action="#" class="wizard-big"></form> -->
				</div>
			</div>

			<div class="ibox stepForm" style="display: none;">
				<div class="ibox-content">
					<form id="form" action="#" class="wizard-big"></form>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="modal inmodal" id="checkStockModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content animated fadeIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				Check Stock
			</div>
			<div class="modal-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<td>Material</td>
							<td>Thickness</td>
							<td>Diameter</td>
							<td>Width</td>
							<td>Length</td>
							<td>Location</td>
							<td>Action</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>DC11</td>
							<td>13</td>
							<td>0</td>
							<td>200</td>
							<td>300</td>
							<td>CL1</td>
							<td><button class="btn btn-primary btn-xs">Select</button></td>
						</tr>
						<tr>
							<td>DC53</td>
							<td>15</td>
							<td>2</td>
							<td>150</td>
							<td>300</td>
							<td>CL2</td>
							<td><button class="btn btn-primary btn-xs">Select</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(function() {
		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green',
		});

		$('.lov-sales-order').change(function() {
			$('.stepForm').show();
			var html = '';
			$.each(data.addquotation.raw, function(k, v) {
				html += '<h1>' + v.itempermintaan + '</h1>';
				html += '<fieldset>';

				html += '<div class="form-group col-sm-12">';
				html += '<label class="col-sm-1">No WO</label>';
				html += '<div class="col-sm-2"><input type="text" class="form-control" value="WO00' + (k+1) + '" readonly></div>';
				html += '</div>';

				html += '<div class="form-group col-sm-12">';
				html += '<label class="col-sm-1">Estimasi</label>';
				html += '<div class="col-sm-2"><input type="text" class="form-control" placeholder="Pcs" value="' + v.pcs + ' pcs"></div>';
				html += '<div class="col-sm-2"><input type="text" class="form-control" placeholder="Kgs" value="' + v.kg + ' Kg"></div>';
				html += '</div>';

				html += '<div id="subcontent' + k + '" class="row"></div>';
				html += '</fieldset>';
			});

			$('#form').html(html);


			$.each(data.addquotation.raw, function(k, v) {
				var spec = v.spesification.split('-');

				$.each(spec, function(i, c) {
					if(c.toLowerCase().trim() == 'cutting') {
						pages.workOrder.add.cutting.load(k, v);
					}
					if(c.toLowerCase().trim() == 'machining') {
						pages.workOrder.add.machining.load(k, v);
					}
					if(c.toLowerCase().trim() == 'heat treatment') {
						pages.workOrder.add.harden.load(k, v);
					}
				});

			});


			$("#form").steps({
				bodyTag: "fieldset",
				onStepChanging: function (event, currentIndex, newIndex)
				{
					// Always allow going backward even if the current step contains invalid fields!
					if (currentIndex > newIndex)
					{
						return true;
					}

					// Forbid suppressing "Warning" step if the user is to young
					if (newIndex === 3 && Number($("#age").val()) < 18)
					{
						return false;
					}

					var form = $(this);

					// Clean up if user went backward before
					if (currentIndex < newIndex)
					{
						// To remove error styles
						$(".body:eq(" + newIndex + ") label.error", form).remove();
						$(".body:eq(" + newIndex + ") .error", form).removeClass("error");
					}

					// Disable validation on fields that are disabled or hidden.
					form.validate().settings.ignore = ":disabled,:hidden";

					// Start validation; Prevent going forward if false
					return form.valid();
				},
				onStepChanged: function (event, currentIndex, priorIndex)
				{
					// Suppress (skip) "Warning" step if the user is old enough.
					if (currentIndex === 2 && Number($("#age").val()) >= 18)
					{
						$(this).steps("next");
					}

					// Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
					if (currentIndex === 2 && priorIndex === 3)
					{
						$(this).steps("previous");
					}
				},
				onFinishing: function (event, currentIndex)
				{
					var form = $(this);

					// Disable validation on fields that are disabled.
					// At this point it's recommended to do an overall check (mean ignoring only disabled fields)
					form.validate().settings.ignore = ":disabled";

					// Start validation; Prevent form submission if false
					return form.valid();
				},
				onFinished: function (event, currentIndex)
				{
					var form = $(this);

						// Submit form input
						form.submit();
					}
				}).validate({
					errorPlacement: function (error, element)
					{
						element.before(error);
					},
					rules: {
						confirm: {
							equalTo: "#password"
						}
					}
				});

			});


	});
</script>
