<div class="col-lg-4" style="border: 1px solid;">
	<h3>Cutting</h3>
	<hr>

	<div class="alert alert-info"></div>
	
	<div class="cutting">
		<h5>Cutting</h5>

		<div class="form-group">
			<label>Material</label>
			<div class="input-group">
				<input type="text" class="form-control material" placeholder="Material">
				<span class="input-group-btn">
					<button id="searchStock" type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkStockModal">Search Stock</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>T/D</label>
			<div ><input type="text" class="form-control thickness" placeholder="T/D"></div>
		</div>
		<div class="form-group">
			<label>Width</label>
			<div ><input type="text" class="form-control width" placeholder="Width"></div>
		</div>
		<div class="form-group">
			<label>Length</label>
			<div ><input type="text" class="form-control length" placeholder="Length"></div>
		</div>

		<div class="form-group">
			<label>Stock Location</label>
			<div ><input type="text" class="form-control length" placeholder="Stock Location"></div>
			<!-- <div ><select class="form-control lov-area-barang"></select></div> -->
		</div>
	</div>
	<hr>


	<div class="sisa">
		<h5>Sisa Potong</h5>

		<div class="form-group">
			<label>Material</label>
			<div ><input type="text" class="form-control" placeholder="Material"></div>
		</div>
		<div class="form-group">
			<label>T/D</label>
			<div ><input type="text" class="form-control" placeholder="T/D"></div>
		</div>
		<div class="form-group">
			<label>Width</label>
			<div ><input type="text" class="form-control" placeholder="Width"></div>
		</div>
		<div class="form-group">
			<label>Length</label>
			<div ><input type="text" class="form-control" placeholder="Length"></div>
		</div>
	</div>				
	<hr>


</div>

<script type="text/javascript">
	$(function() {
		$('.lov-area-barang').empty();
		// listOfValues.material.load();
		listOfValues.areaBarang.load();
	});
</script>
