<div class="col-lg-4" style="border: 1px solid;">
	<h3>Machining</h3>
	<hr>

	<div class="raw-material">
		<h5>Raw Material</h5>
		<div class="form-group">
			<label>T/D</label>
			<div ><input type="text" class="form-control thickness" placeholder="T/D"></div>
		</div>
		<div class="form-group">
			<label>Width</label>
			<div ><input type="text" class="form-control width" placeholder="Width"></div>
		</div>
		<div class="form-group">
			<label>Length</label>
			<div ><input type="text" class="form-control length" placeholder="Length"></div>
		</div>
	</div>
	<hr>

	<div class="finished-material">
		<h5>Finished Material</h5>
		<div class="form-group">
			<label>T/D</label>
			<div ><input type="text" class="form-control thickness" placeholder="T/D"></div>
		</div>
		<div class="form-group">
			<label>Width</label>
			<div ><input type="text" class="form-control width" placeholder="Width"></div>
		</div>
		<div class="form-group">
			<label>Length</label>
			<div ><input type="text" class="form-control length" placeholder="Length"></div>
		</div>
	</div>

</div>