<div class="col-lg-4" style="border: 1px solid;">
	<h3>Heat Treatment</h3>
	<hr>

	<h5>Heat Treatment</h5>

	<div class="form-group">
		<label>HrC</label>
		<div><input type="text" class="form-control" placeholder="HrC"></div>
	</div>
	<hr>

</div>