<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Work Order</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Work Order</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.workOrder.add.load()" class="btn btn-primary">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover " id="editable" ></table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.workOrder.raw,
			columns: [
			{ title: "ID", data: "id"},
			{ title: "No WO", data: "noWo"},
			{ title: "No SO", data: "noSo"},
			{ title: "Status", data: "status"},
			{ title: "Finish Date", data: "datetime"},
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-primary updateWO" data-toggle="modal" data-target="#detail">Update</button>'
				+ ' <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">Details</button>'
			} ]
		});

		util.table.action(table);

		$('#editable tbody').on( 'click', '.updateWO', function () {
			var data = table.row( $(this).parents('tr') ).data();
			$(this).removeClass('btn-default').addClass('btn-primary').html('<i class="fa fa-check"></i>');
			console.log(data);
			// util.toast.success('Data has been approved!');
			// var d = table.row( this ).data();
			// table.row(this).data(d).draw();

			var form = [];

			if(data.status == 'Cutting') {
				form = [
				{id: 'material', placeholder: 'Material'},
				{id: 'thickness', placeholder: 'T/D'},
				{id: 'width', placeholder: 'Width'},
				{id: 'length', placeholder: 'Length'},
				];

				swal.withForm({
					title: "Finish " + data.status + " ?",
					text: "Masukan sisa material",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Finish!",
					closeOnConfirm: false,
					html: true,
					formFields: form,
				}, function () {
					swal("Finish!", data.status + " already Finish.", "success");
				});
			} else {
				swal({
					title: "Finish " + data.status + " ?",
					text: "",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Finish!",
					closeOnConfirm: false,
					html: true,
					formFields: form,
				}, function () {
					swal("Finish!", data.status + " already Finish.", "success");
				});
			}

		} );

	});
</script>