<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Propose Order</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Propose Order</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="#" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.proposeorder.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Supplier</label>
									<div class="col-sm-9"><select class="form-control">
										<option>Daido Die Mold Solutions CO.,LTD</option>
										<option>Daido Kogyo CO.,LTD</option>
									</select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Tanggal</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="Tanggal" />
									</div>
								</div>
							</div>
							<div class="col-lg-7">	</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Item</button>

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												Add Item Propose Order
											</div>
											<div class="modal-body">
												
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Material</label>
															<div class="col-sm-8">
																<select class="form-control">
																	<option>DC11</option>
																	<option>DC53</option>
																	<option>GOA</option>
																	<option>DHA1</option>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Thicknes</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Product"></div>
														</div>
														
														<div class="form-group">
															<label class="col-sm-4 control-label">Width</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Width"></div>
														</div>
														
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Diameter</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Diameter"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Pcs</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Pcs"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Kg</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Kg"></div>
														</div>
													</div>
												</div>
											</div>


											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-primary">Save changes</button>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

						<br>
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data: data.addproposeorder.grid(),
			columns: [
			{ title: "Material" },
			{ title: "Thickness" },
			{ title: "Width" },
			{ title: "Diameter" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"targets": 6,
				"data": null,
				"defaultContent": '<button class="btn btn-xs btn-primary">Edit</button> <button class="btn btn-xs btn-danger">Delete</button>'
			} ]
		});
	});
</script>