<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Propose Order</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Propose Order</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.proposeorder.add.load()" class="btn btn-primary">Add New</a>
			<a href="javascript:exportExcel();" class="btn btn-warning"><i class="fa fa-download"></i> Export Suggestion Order</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated fadeIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				Payment
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">Bank Pengirim</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Bank Pengirim"></input></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Rekening</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="No Rekening">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Atas Nama</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Atas Nama"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Refference</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="No Refference"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Payment Date</label>
							<div class="col-sm-8"><input type="date" class="form-control" placeholder="Payment Date"></div>
						</div>											
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">Bank Penerima</label>
							<div class="col-sm-8">
								<select class="form-control">
							 		<option>BCA</option>
							 		<option>Permata</option>
							 		<option>Mandiri</option>
							 		<option>Mizuho</option>
							 	</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Rekening</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="No Rekening"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Atas Nama</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Atas Nama"></div>
						</div>
						
						<!-- <div class="form-group">
							<label class="col-sm-3 control-label">Status</label>
							<div class="col-sm-9"><select class="form-control lov-status" placeholder="Status"></select></div>
						</div> -->
					</div>
				</div>
				
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function exportExcel() {
		util.XLSXInterface.writeToXLSX('', "Suggestion Order ");
	}
	$(function() {

		var table = $('#editable').DataTable({
			data: data.proposeorder.grid(),
			columns: [
			{ title: "No" },
			{ title: "Supplier" },
			{ title: "Tanggal" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Status" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default approve" data-id="">Approve</button>' 
				+ ' <a href="#" class="btn btn-xs btn-info" data-toggle="modal" data-target="#detail">Detail</a>'
				+ ' <button class="btn btn-xs btn-primary edit"><i class="fa fa-edit"></i></button>'
			} ]
		});
		util.table.action(table);
	});
</script>
