<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Invoice</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Invoice</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.invoice.add.load()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.account.invoice.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Faktur/Invoice</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Faktur / Invoice"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">No SO</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>SO/2016/89811</option>
											<option>SO/2016/95165</option>
											<option>SO/2016/49490</option>
											<option>SO/2016/4948272</option>
											<option>SO/2016/263832</option>
											<option>SO/2016/726393</option>
											<option>SO/2016/517282</option>
											<option>SO/2016/122833</option>
											<option>SO/2016/483932</option>
											<option>SO/2016/617192</option>
											<option>SO/2016/781221</option>
											<option>SO/2016/3344321</option>
											<option>SO/2016/917273</option>
											<option>SO/2016/211281</option>
											<option>SO/2016/233344</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Customer</label>
									<div class="col-sm-9"><select class="form-control lov-customer" onchange="javascript:listOfValues.customer.name.change()"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Invoice Address</label>
									<div class="col-sm-9">
										<textarea class="form-control" placeholder="Invoice Address"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Delivery Address</label>
									<div class="col-sm-9">
										<textarea class="form-control" placeholder="Delivery Address"></textarea>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">NPWP</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="NPWP"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">No Pesanan <br/> (ORDER REF)</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="Nomor Pesanan">
										<p><button type="button" class="btn btn-warning">Download PO</button></p>
									</div>
								</div>
								<!-- <div class="form-group">
									<label class="col-sm-3 control-label">Surat Jalan (D.O)</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Surat Jalan (D.O)"></input></div>
								</div> -->
								<div class="form-group">
									<label class="col-sm-3 control-label">Syarat Pembayaran</label>
									<div class="col-sm-5"><input type="date" class="form-control" placeholder="Syarat Pembayaran"></input></div>
									<div class="col-sm-4"><select class="form-control lov-areas" ></select></div>
								</div>
								<!-- <div class="form-group">
									<label class="col-sm-3 control-label">Status</label>
									<div class="col-sm-9"><select class="form-control lov-status" placeholder="Status"></select></div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Item</button>

								<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content animated fadeIn">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
													<span class="sr-only">Close</span>
												</button>
												add Item
											</div>
											<div class="modal-body">
												
												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<label class="col-sm-4 control-label">No DO</label>
															<div class="col-sm-8">
																<select class="form-control">
																	<option>FDO82555162</option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="col-sm-4 control-label">Product</label>
															<div class="col-sm-8">
																<select class="form-control">
																	<option>DC11-F</option>
																	<option>DC53-F</option>
																	<option>DC11-R</option>
																</select>
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="col-sm-4 control-label">Description</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Description"></div>
														</div> -->
														<div class="form-group">
															<label class="col-sm-4 control-label">Spesification</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Spesification"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Pcs </label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Pcs"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Kg </label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Kg"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Unit Price (Rp) </label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Unit Price"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Discount (%)</label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Discount"></div>
														</div>
														<div class="form-group">
															<label class="col-sm-4 control-label">Amount (Rp) </label>
															<div class="col-sm-8"><input type="text" class="form-control" placeholder="Amount (Rp)"></div>
														</div>
														
													</div>
												</div>
											</div>


											<div class="modal-footer">
												<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary">Save</button>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

						<br>
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data: data.addinvoice.grid(),
			columns: [
			{ title: "No" },
			{ title: "Description" },
			{ title: "Spesification" },
			{ title: "No DO" },
			{ title: "Pcs" },
			{ title: "Kg" },
			{ title: "Unit Price (Rp)" },
			{ title: "Discount (%)" },
			{ title: "Amount (Rp)" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"targets": 9,
				"data": null,
				"defaultContent": '<button class="btn btn-xs btn-danger">Delete</button>'
			} ]
		});
	});
</script>