<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Account Receivable</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Account</a></li>
			<li class="active"><strong>Receivable</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.account.invoice.add.load()" class="btn btn-primary">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="">
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
         	<table class="table">
         		<tr>
         			<td>No</td>
         			<td>Description</td>
         			<td>Quantity</td>
         			<td>Unit Price (Rp)</td>
         			<td>Amount (Rp)</td>
         		</tr>
         		<tr>
         			<td>1</td>
         			<td>[FHB 4.00W0G] GOA RAIL COVER 1600ML FLAP LOCK Full Harden B 20.0 x 25.0 x 55.0 = 8Pcs</td>
         			<td>8 Pcs</td>
         			<td>12,500</td>
         			<td>100,000</td>
         		</tr>
         		<tr>
         			<td>2</td>
         			<td>[FHB 5.00W0G] GOA RAIL COVER 1700ML FLAP LOCK Full Harden A 40.0 x 45.0 x 75.0 = 8Pcs</td>
         			<td>8 Pcs</td>
         			<td>15,000</td>
         			<td>120,000</td>
         		</tr>
         	</table>
         </div>
      </div>
      <div class="modal-footer">
      		<div class="table-responsive">
	         	<table class="table">
	         		<tr>
	         			<td>Untaxed Amount</td>
	         			<td>Rp</td>
	         			<td>210,000</td>
	         		</tr>
	         		<tr>
	         			<td>Taxes</td>
	         			<td>Rp</td>
	         			<td>21,000</td>
	         		</tr>
	         		<tr>
	         			<td>Discount (0.00%)</td>
	         			<td>Rp</td>
	         			<td>0</td>
	         		</tr>
	         		<tr>
	         			<td>Total Amount</td>
	         			<td>Rp</td>
	         			<td>210,000</td>
	         		</tr>
	         	</table>
	         </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.receivable.grid(),
			columns: [
			{ title: "No" },
			{ title: "Faktur / Invoice" },
			{ title: "Kepada / Sold To " },
			{ title: "Surat Jalan (D.O)" },
			{ title: "Syarat Pembayaran (Terms Of Payment)" },
			{ title: "Status"},
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				// + ' <a href="#" class="btn btn-xs btn-info" data-toggle="modal" data-target="#detail">Detail</a>'
				+ ' <button class="btn btn-xs btn-default receive" data-id="">Received</button>' 
				+ ' <button class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>' 
				+ ' <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>'
			} ]
		});

		$('#editable tbody').on( 'click', '.receive', function () {
			var data = table.row( $(this).parents('tr') ).data();
			$(this).removeClass('btn-default').addClass('btn-primary').html('<i class="fa fa-check"></i>');
			util.toast.success('Payment has been received');
		} );
	});
</script>
