<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Upload Shipping Document</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Upload Shipping Document</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.newitem.add.load()" class="btn btn-primary">Upload</a> 
			or <a href="javascript:pages.newitem.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">No Invoice</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="No Invoice"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Supplier</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>Daido Kogyo Co. Ltd.</option>
											<option>Daido Die & Mold Steel Solutions, Co. Ltd.</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Date Bill of Ladding</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="Date Bill of Ladding"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Date of Arrival</label>
									<div class="col-sm-9"><input type="date" class="form-control" placeholder="Date of Arrival"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">T.O.P</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="T.O.P"></input></div>
								</div>
								
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Invoice</label>
									<div class="col-sm-9"><input type="file" class="form-control"></input placeholder="Invoice" /></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Packing List</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Packing List"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Bill Of Lading</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Bill Of Lading"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
