<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Upload Shipping Document</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Upload Shipping Document</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.newitem.add.load()" class="btn btn-primary">Add New</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

		$('#editable').DataTable({
			data: data.newitem.grid(),
			columns: [
			{ title: "No Invoice" },
			{ title: "Supplier" },
			{ title: "Date Bill of Ladding" },
			{ title: "T.O.P (Days)" },
			{ title: "Invoice " },
			{ title: "Packing List" },
			{ title: "Bill Of Lading" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ' <button class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>' 
				+ ' <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>' 
			} ]
		});
	});
</script>
