<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Incoming Shipment</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Incoming Shipment</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:exportExcel();" class="btn btn-warning"><i class="fa fa-download"></i> Download Incoming this Month</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Material</label>
									<div class="col-sm-9"><select class="form-control">
										<option>DC11-F</option>
										<option>DC53-F</option>
										<option>GOA-R</option>
									</select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Thickness</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Thickness"></div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Width</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Width"></div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-3 control-label">Diameter</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Diameter"></div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<button type="button" class="btn btn-primary pull-right">Search</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover " id="editable" >
						<thead>
							<tr>
								<td>Material</td>
								<td>Thickness</td>
								<td>Width</td>
								<td>Diameter</td>
								<td>Pcs</td>
								<td>Kg</td>
								<td>Purchase Order</td>
								<td>Derparture Date</td>
								<td>Arrival Date</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>DC11</td>
								<td>20</td>
								<td>405</td>
								<td>0</td>
								<td>5</td>
								<td>90</td>
								<td>POM20166499</td>
								<td>01/01/2016</td>
								<td>11/01/2016</td>
							</tr>
							<tr>
								<td>DC53</td>
								<td>10</td>
								<td>305</td>
								<td>0</td>
								<td>7</td>
								<td>150</td>
								<td>POM20166499</td>
								<td>01/01/2016</td>
								<td>11/01/2016</td>
							</tr>
							<tr>
								<td>GOA</td>
								<td>0</td>
								<td>0</td>
								<td>30</td>
								<td>5</td>
								<td>100</td>
								<td>POM20166499</td>
								<td>01/01/2016</td>
								<td>11/01/2016</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function exportExcel() {
		util.XLSXInterface.writeToXLSX('', "Incoming this Month ");
	}
</script>