<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Inventory</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Inventory</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.inventory.add.load()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.inventory.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">Nomor</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Nomor"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Name</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Name" ></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Type</label>
									<div class="col-sm-9">
									<select class="form-control">
										<option>Baja Silinder</option>
										<option>Baja Lempengan</option>
										<option>Baja Tipis</option>
									</select>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Quantity</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="Quantity"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Status</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>Ok</option>
											<option>Out Of Stock</option>x	
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
