<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>List Stock</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">List Stock</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<!-- <div class="title-action">
			<a href="javascript:pages.inventory.add.load()" class="btn btn-primary">Add New</a>
		</div> -->
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form method="get" class="form-horizontal">

						<div class="row">
							<div class="col-lg-12">
								<div class="ibox float-e-margins">
									<div class="ibox-content">
										<div class="row">
											<div class="col-lg-5">
												<div class="form-group">
													<label class="col-sm-3 control-label">Thickness</label>
													<div class="col-sm-9">
														<select class="form-control">
															<option>DC11-F</option>
															<option>DC11-R2</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Thickness</label>
													<div class="col-sm-9"><input type="text" class="form-control" placeholder="Thickness"></input></div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Width</label>
													<div class="col-sm-9"><input type="text" class="form-control" placeholder="Width" ></input></div>
												</div>
												
											</div>
											<div class="col-lg-7">
												<div class="form-group">
													<label class="col-sm-3 control-label">Diameter</label>
													<div class="col-sm-9"><input type="text" class="form-control" placeholder="Diameter" ></input></div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Length</label>
													<div class="col-sm-9"><input type="text" class="form-control" placeholder="Length"></input></div>
												</div>
												<div class="form-group">
													<div class="col-sm-12">
														<button type="button" class="btn btn-info pull-right">Search</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover " id="editable" ></table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(function() {

		var table = $('#editable').DataTable({
			data: data.inventory.grid(),
			columns: [
			{ title: "Product" },
			{ title: "Serial Number" },
			{ title: "Location" },
			{ title: "Thickness" },
			{ title: "Width" },
			{ title: "Diameter" },
			{ title: "Length" },
			{ title: "Unit Available" },
			{ title: "Kg" },
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": 1,
				"data": null
			} ]
		});

		util.table.action(table);
	});
</script>
