<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Payment</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Payment</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.payment.add.load()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.payment.manage.load()">Discard</a>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="col-sm-3 control-label">No Purchase Order</label>
									<div class="col-sm-9"><input type="text" class="form-control" placeholder="No Purchase Order"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Supplier</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>Daido Kogyo Co. Ltd.</option>
											<option>Daido Die & Mold Steel Solutions, Co. Ltd.</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Invoice</label>
									<div class="col-sm-9"><input type="file" class="form-control"></input placeholder="Invoice" /></div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label class="col-sm-3 control-label">Packing List</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Packing List"></input></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Bill Of Lading</label>
									<div class="col-sm-9"><input type="file" class="form-control" placeholder="Bill Of Lading"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Status</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>Done</option>
											<option>Pending</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
