<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Payment</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Payment</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<!-- <div class="title-action">
			<a href="javascript:pages.newitem.add.load()" class="btn btn-primary">Add New</a>
		</div> -->
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover " id="editable" ></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal inmodal" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated fadeIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				Payment
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">Bank Pengirim</label>
							<div class="col-sm-8">
								<select class="form-control">
							 		<option>BCA</option>
							 		<option>Permata</option>
							 		<option>Mandiri</option>
							 		<option>Mizuho</option>
							 	</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Rekening</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="No Rekening">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Atas Nama</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Atas Nama"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Refference</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="No Refference"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Payment Date</label>
							<div class="col-sm-8"><input type="date" class="form-control" placeholder="Payment Date"></div>
						</div>	
						<div class="form-group">
							<label class="col-sm-4 control-label">Currency</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Currency"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Amount </label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Amount "></div>
						</div>	
						<div class="form-group">
							<label class="col-sm-4 control-label">Slip Payment</label>
							<div class="col-sm-8"><input type="file" class="form-control" placeholder="Slip Payment"></div>
						</div>											
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">Bank Penerima</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Bank Penerima">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">No Rekening</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="No Rekening"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Atas Nama</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Atas Nama"></div>
						</div>
						
						<!-- <div class="form-group">
							<label class="col-sm-3 control-label">Status</label>
							<div class="col-sm-9"><select class="form-control lov-status" placeholder="Status"></select></div>
						</div> -->
					</div>
				</div>
				
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			data: data.payment.grid(),
			columns: [
			{ title: "No Invoice" },
			{ title: "Supplier" },
			{ title: "Date Bill of Ladding" },
			{ title: "T.O.P (Days)" },
			{ title: "Invoice " },
			{ title: "Packing List" },
			{ title: "Bill Of Lading" },
			{ title: "Status" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": 8,
				"data": null,
				"defaultContent": ' <button class="btn btn-xs btn-default updatestatus" data-id="" data-toggle="modal" data-target="#detail">Pay</button>'  
			} ]
		});
		util.table.action(table);
	});
</script>
