<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Production Schedule</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Production Schedule</a></li>
			<li class="active"><strong>Add New</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.production.save()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.production.manage.load()">Discard</a>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins others">
					<div class="ibox-title">
						<h5>Informasi</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">No WO</label>
							<div class="col-sm-6"><select class="form-control lov-work-order" onchange="listOfValues.workOrder.change(); machining();"></select></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Type</label>
							<div class="col-sm-6"><input type="text" class="form-control type" placeholder="Type"></div>
						</div>
						<div class="form-group machine">
							<label class="col-sm-2 control-label">Machine</label>
							<div class="col-sm-6"><select class="form-control lov-machine""></select></div>
						</div>
						<div class="form-group operator">
							<label class="col-sm-2 control-label">Operator</label>
							<div class="col-sm-6"><input type="text" class="form-control" placeholder="Operator"></div>
						</div>
						<div class="form-group datetime">
							<label class="col-sm-2 control-label">Datetime</label>
							<div class="col-sm-3"><input type="date" class="form-control date" placeholder=""></div>
							<div class="col-sm-3"><input type="time" class="form-control time" placeholder=""></div>
						</div>
					</div>
				</div>

				<div class="ibox float-e-margins machining" style="display: none;">
					<div class="ibox-title">
						<h5>Machining</h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-4">
								<h5>Facemill</h5>
								<div class="form-group">
									<label class="col-sm-2 control-label">Machine</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Machine"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Operator</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Operator"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Date</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Date"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Time</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Time"></div>
								</div>
							</div>

							<div class="col-sm-4">
								<h5>Sidemill</h5>
								<div class="form-group">
									<label class="col-sm-2 control-label">Machine</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Machine"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Operator</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Operator"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Date</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Date"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Time</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Time"></div>
								</div>
							</div>

							<div class="col-sm-4">
								<h5>Grinding</h5>
								<div class="form-group">
									<label class="col-sm-2 control-label">Machine</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Machine"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Operator</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Operator"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Date</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Date"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Time</label>
									<div class="col-sm-10"><input type="text" class="form-control" placeholder="Time"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	function machining() {
		// $('.type').change(function() {
			var type = $('.type').val();
			if(type.toLowerCase() == 'machining') {
				$('.machining').show();
				$('.machine').hide();
				$('.operator').hide();
				$('.datetime').hide();
			} else {
				$('.machining').hide();
				$('.machine').show();
				$('.operator').show();
				$('.datetime').show();
			}
		// });
	}

	$(function() {
		
	});
</script>