<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Production Schedule</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Production Schedule</a></li>
			<li class="active"><strong>Edit</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="javascript:pages.production.save()" class="btn btn-primary">Save</a> 
			or <a href="javascript:pages.production.manage.load()">Discard</a>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content">

	<form method="get" class="form-horizontal">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins others">
					<div class="ibox-title">
						<h5>Informasi</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">No WO</label>
							<div class="col-sm-6"><input type="text" class="form-control type" placeholder="No WO" value="WO001" readonly></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Material</label>
							<div class="col-sm-6"><input type="text" class="form-control type" placeholder="Material" value="DC53-F" readonly></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Finish Size</label>
							<div class="col-sm-6"><input type="text" class="form-control type" placeholder="Finish Size" value="15 x 200 x 300" readonly></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Cutting</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group machine">
							<label class="col-sm-4 control-label">Machine</label>
							<div class="col-sm-8"><select class="form-control lov-machine-cutting"></select></div>
						</div>
						<div class="form-group operator">
							<label class="col-sm-4 control-label">Operator</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Operator"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Date</label>
							<div class="col-sm-8"><input type="date" class="form-control date" placeholder=""></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Time</label>
							<div class="col-sm-8"><input type="time" class="form-control time" placeholder=""></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Machining</h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<h4>Facemill</h4>
								<div class="form-group">
									<label class="col-sm-4 control-label">Machine</label>
									<div class="col-sm-8"><select class="form-control lov-machine-machining"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Operator</label>
									<div class="col-sm-8"><input type="text" class="form-control" placeholder="Operator"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Date</label>
									<div class="col-sm-8"><input type="date" class="form-control date" placeholder=""></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Time</label>
									<div class="col-sm-8"><input type="time" class="form-control time" placeholder=""></div>
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="row">
							<div class="col-sm-12">
								<h4>Sidemill</h4>
								<div class="form-group">
									<label class="col-sm-4 control-label">Machine</label>
									<div class="col-sm-8"><select class="form-control lov-machine-machining"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Operator</label>
									<div class="col-sm-8"><input type="text" class="form-control" placeholder="Operator"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Date</label>
									<div class="col-sm-8"><input type="date" class="form-control date" placeholder=""></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Time</label>
									<div class="col-sm-8"><input type="time" class="form-control time" placeholder=""></div>
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="row">
							<div class="col-sm-12">
								<h4>Grinding</h4>
								<div class="form-group">
									<label class="col-sm-4 control-label">Machine</label>
									<div class="col-sm-8"><select class="form-control lov-machine-machining"></select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Operator</label>
									<div class="col-sm-8"><input type="text" class="form-control" placeholder="Operator"></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Date</label>
									<div class="col-sm-8"><input type="date" class="form-control date" placeholder=""></div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Time</label>
									<div class="col-sm-8"><input type="time" class="form-control time" placeholder=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Heat Treatment</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group machine">
							<label class="col-sm-4 control-label">Machine</label>
							<div class="col-sm-8"><select class="form-control lov-machine-harden"></select></div>
						</div>
						<div class="form-group operator">
							<label class="col-sm-4 control-label">Operator</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Operator"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Date</label>
							<div class="col-sm-8"><input type="date" class="form-control date" placeholder=""></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Time</label>
							<div class="col-sm-8"><input type="time" class="form-control time" placeholder=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">

	$(function() {
		
	});
</script>