<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Production Schedule</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Production Schedule</a></li>
			<li class="active"><strong>Manage</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<!-- <a href="javascript:pages.production.add.load()" class="btn btn-primary">Add New</a> -->
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Unscheduled Production</h5>
				</div>
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover " id="editable2" ></table>
				</div>
			</div>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Scheduled Production</h5>
				</div>
				<div class="ibox-content">
					<table class="table table-striped table-bordered table-hover " id="editable" ></table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

		var table = $('#editable').DataTable({
			pageLength: 5,
			data: data.production.grid(),
			columns: [
			{ title: "ID" },
			{ title: "No WO" },
			{ title: "Specification" },
			{ title: "Machine" },
			{ title: "Date" },
			{ title: "Time" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-3',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <button class="btn btn-xs btn-default approve" data-id="">Approve</button>' 
				+ ' <button class="btn btn-xs btn-default status" data-id="">Done</button>' 
				+ ' <button class="btn btn-xs btn-primary edit"><i class="fa fa-edit"></i></button>' 
				+ ' <button class="btn btn-xs btn-danger delete"><i class="fa fa-trash"></i></button>'
			} ]
		});

		util.table.action(table);

		var table2 = $('#editable2').DataTable({
			pageLength: 5,
			data: data.production.gridEmpty(),
			columns: [
			{ title: "ID" },
			{ title: "No WO" },
			{ title: "Specification" },
			{ title: "Machine" },
			{ title: "Date" },
			{ title: "Time" },
			{ title: "Action"},
			],
			"columnDefs": [ {
				"className": 'col-md-2',
				"targets": -1,
				"data": null,
				"defaultContent": ''
				+ ' <a href="javascript:pages.production.edit.load()" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>' 
				+ ' <button class="btn btn-xs btn-danger delete"><i class="fa fa-trash"></i></button>'
			} ]
		});

		util.table.action(table2);

		$('#editable tbody').on( 'click', '.edit', function () {
			var data = table2.row( $(this).parents('tr') ).data();

		} );
	});
</script>