<div class="row border-bottom">
	<nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0; left:220px">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<a href="login.html"><i class="fa fa-sign-out"></i> Log out</a>
			</li>
		</ul>

	</nav>
</div>