<div class="sidebar-collapse">
	<ul class="nav metismenu" id="side-menu">
		<li class="nav-header">
			<div class="dropdown profile-element">
				<span>
					<img alt="image" class="img-circle" src="img/profile_small.jpg" />
				</span>
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<span class="clear">
						<span class="block m-t-xs">
							<strong class="font-bold">David Williams</strong>
						</span>
						<span class="text-muted text-xs block">Art Director <b class="caret"></b>
						</span>
					</span>
				</a>
				<ul class="dropdown-menu animated fadeInRight m-t-xs">
					<li><a href="#">Profile</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Mailbox</a></li>
					<li class="divider"></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
			<div class="logo-element">ADS</div>
		</li>

		<li>
			<a href="customer-card.html"><i class="fa fa-laptop"></i> <span class="nav-label">Customer Card</span></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Quotation</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li><a href="quotation-cutting.html">Cutting</a></li>
				<li><a href="quotation-machining.html">Machining</a></li>
				<li><a href="quotation-harden.html">Harden</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Sales Order</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li><a href="sales-order-cutting.html">Cutting</a></li>
				<li><a href="sales-order-machining.html">Machining</a></li>
				<li><a href="sales-order-harden.html">Harden</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Work Order</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li><a href="work-order-cutting.html">Cutting</a></li>
				<li><a href="work-order-machining.html">Machining</a></li>
				<li><a href="work-order-harden.html">Harden</a></li>
			</ul>
		</li>
		<li>
			<a href="purchase-order.html"><i class="fa fa-laptop"></i> <span class="nav-label">Purchase Order</span></a>
		</li>
		<li>
			<a href="invoice.html"><i class="fa fa-laptop"></i> <span class="nav-label">Invoice</span></a>
		</li>
	</ul>

</div>
